html {
	width: 100%;
	height: 100%;
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 16px;
}
body {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 900px;
}
input {
	font-family: "Lucida Console", Courier, monospace;
}


#splash {
	text-align: center;
	width: 350px;
	height: 350px;
}
#bottombar {
	width: 900px;
	height: 200px;
	background-color: white;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: flex-start;
	flex-flow: row wrap;
}
#infobar {
	width: 30%;
	height: 100%;
	background-color: black;
	color: white;
}
#infobar > div {
	padding: 5px;
	/*height: 100%;*/
}
#scoreboardHeader {
	display: flex;
	justify-content: space-between;
}
#infobar #connectedPlayers {
	overflow-y: auto;
	max-height: 150px;
}
#chatmessages {
	background-color: #ddd;
	width: 70%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	align-self: flex-start;
}
#chatmessages li {
	padding: 2px 5px;
	font-weight: bold;
}
#chatinputbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 40px;
}
#chatinput {
	border: 0;
	border-top: solid 2px black;
	padding: 0 5px;
	width: 90%;
}
#chatinputbar button {
	width: 10%;
}
button {
	padding: 10px;
	/*border-radius: 10px;*/
	color: white;
	font-weight: bold;
	background-color: blue;
}
#stage {
	z-index: 1;
	background: #e5e5e5;
}
#error {
	color: red;
	font-weight: bold;
}


/* TEAM COLORS */
.orange {
	color: darkorange;
}
.red {
	color: darkred;
}
.blue {
	color: blue;
}
.purple {
	color: purple;
}
.black {
	color: black;
}
.green {
	color: green;
}